:root{
	--DaiDarkRed: #bb596d;
	--DaiPink: #c86a76;
	--DaiGold: #d2ad7f;
	--DaiBeige: #cdb0a7;
	--DaiBlack: #4d4857;
	--DaiWhite: #fffffe;

}

body{
	background-color: var(--DaiPink);

	color:var(--DaiBlack);
	font-family: 'Varela Round', sans-serif;
	font-size: 1.25rem;
	text-align: center;

	margin: 0px;
	width: 100%;

	overflow: hidden;
	overflow-y:scroll;
	
}

.header{
	background-color: var(--DaiPink);
	padding: 10px;

	display: flex;	
	justify-content: space-between;
}

.header > .links{
	padding-top:10px;
	padding-right:10px;
	width: 75%;
	text-align: right;
}

.header a{
	padding-left: 10px;	

}

.main{
	background-image:url("../assets/daibg.jpg");
	background-size: cover;
	width: 100vw;
}

.maininfo{
	background: rgba(243, 229, 220,.75);
	
	border-radius:30px;
	margin: 10px auto;
	width: 90%;

	padding:10px;

}

h1{
	font-family: 'Pacifico', cursive;
	color: var(--DaiDarkRed);
	font-size: 3rem;
}

/*Image IDs*/

#profileimg{
	height:500px;
}

#mediaimg{
	display:none;
}

button{
	background-color: transparent;
	font-size: 1.25rem;
	border-radius: 12px;
	border:solid 3px var(--DaiWhite);
	color:var(--DaiWhite);
}

button:hover{
		border:solid 3px var(--DaiGold);
		color:var(--DaiGold);
}


/*Footer*/

.footer{
	display:flex;

	width: 100%;
	background-color: var(--DaiPink);
	color:var(--DaiBlack);
	justify-content: center;
	align-items: center;

}

.col{
	min-width: 200px;
}

.col > ul{
	list-style: none;
	padding-left: 0px;
}

a{
	color:var(--DaiWhite);
	text-decoration: none;
}
a:hover{
	color:var(--DaiGold);
}

@media(max-width: 600px){
	#profileimg{
		display:none;
	}
	.buttonselect{
		display: none;
	}
	#mediaimg{
		display:block;
		width:50%;
		padding: 10px;
		margin: auto;
	}

}